Repository TomerFi/switcher_webapi, pull requests merged in 2020-05, with the labels that each got.

#42 Updated aiosiwthcer to 1.2.0.
  requirements.txt
Labels: 🔍 Ready for Review

#33 Added time_on field for /switcher/get_state
  docs/usage.rst
  pyscripts/conftest.py
  pyscripts/consts.py
  pyscripts/request_handlers.py
  pyscripts/test_server.py
Labels: ✅ Approved

#43 Added devcontainer
  .dependabot/config.yml
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/requirements.txt
  .dockerignore
  .env
  .github/CONTRIBUTING.md
  .github/workflows/pr_utils.yml
  .github/workflows/python_test.yml
  .gitignore
  .vscode/tasks.json
  README.md
  VERSION
  docs/usage.rst
  pyscripts/helpers.py
  requirements.txt
  tox.ini
Labels: docs, pyscripts, 🔍 Ready for Review

#51 Bumped python to 3.8.3 + better dev dockerfile.
  .devcontainer/Dockerfile
Labels: 🔍 Ready for Review
