Repository TomerFi/switcher_webapi, pull requests merged in 2020-04, with the labels that each got.

#29 stuff.
  .github/workflows/pr_utils.yml
  .github/workflows/pre_release.yml
  .github/workflows/python_test.yml
  .github/workflows/release.yml
  README.md
  VERSION
  tox.ini
Labels: 🔍 Ready for Review

#30 Update container_structure.yml
  container_structure.yml
Labels: ✅ Approved

#31 Final touchups
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/labeler.yml
  .github/workflows/docs_test.yml
  .github/workflows/shell_test.yml
  Dockerfile
  Makefile
  README.md
  container_structure.yml
  shellscripts/container-structure-test-verify.sh
Labels: shellscripts, 🔍 Ready for Review

#32 Removed excess " on docker run command
  README.md
Labels: ✅ Approved
