Repository TomerFi/switcher_webapi, pull requests merged in 2022-10, with the labels that each got.

#542 Dolev/support new devices
  app/tests/test_web_app.py
  app/webapp.py
  docs/openapi.yml
  requirements.txt
Labels: size: xl, status: changes requested

#562 docs: better community docs
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/workflows/pr.yml
  .licenserc.json
  .vscode/settings.json
  CONTRIBUTING.md
  Makefile
  requirements_test.txt
  tox.ini
Labels: status: needs review, size: l, hacktoberfest-accepted

#563 chore: remove license headers
  .github/workflows/pr.yml
  .licenserc.json
  CONTRIBUTING.md
  Dockerfile
  Makefile
  README.md
  app/__init__.py
  app/tests/__init__.py
  app/tests/test_access_logger_implementation.py
  app/tests/test_serialization_helper.py
  app/tests/test_web_app.py
  app/webapp.py
Labels: status: needs review, size: l
