Repository TomerFi/switcher_webapi, pull requests merged in 2024-01, with the labels that each got.

#705 chore: support aioswitcher 3.4.1
  app/tests/test_web_app.py
  app/webapp.py
  docs/openapi.yml
  requirements.txt
Labels: status: approved, size: l

#708 fix: small bug causing fault actions, added local dev env support
  .devcontainer/devcontainer.json
  .vscode/launch.json
  app/webapp.py
Labels: status: approved, size: m

#709 build(deps): bump aioswitcher to 3.4.2
  requirements.txt
Labels: status: needs review, size: xs

#710 docs: added dmatik as a contriobutor
  .all-contributorsrc
  .github/CODEOWNERS
  README.md
Labels: status: needs review, size: s

#711 feat: add a support for arm64 image
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/stage.yml
  Makefile
Labels: status: approved, size: xs
