Repository TomerFi/switcher_webapi, pull requests merged in 2024-10, with the labels that each got.

#715 feat: add support for s11 from library
  Dockerfile
  README.md
  app/tests/test_web_app.py
  app/webapp.py
  docs/openapi.yml
  requirements.txt
Labels: status: approved, size: l

#721 docs: fixed example doc for delete_schedule
  docs/openapi.yml
Labels: status: approved, size: xs

#725 docs: better docs
  README.md
  docs/device_types.md
  docs/endpoints_action.md
  docs/endpoints_all.md
  docs/endpoints_config.md
  docs/endpoints_schedule.md
  docs/endpoints_state.md
  docs/index.md
  docs/openapi.yml
  docs/query_params.md
  mkdocs.yml
  requirements_docs.txt
Labels: status: needs review, size: xxl

#726 feat: added support for runner s12, light sl01, and light sl01 mini
  app/webapp.py
  docs/device_types.md
  requirements.txt
  tox.ini
Labels: status: needs review, size: m

#727 ci: added dependabot config
  .github/dependabot.yml
Labels: status: needs review, size: m

#739 docs: readme cleanup
  .all-contributorsrc
  README.md
Labels: status: needs review, size: l
