Repository TomerFi/switcher_webapi, pull requests merged in 2024-11, with the labels that each got.

#752 feat: added support for Light sl02, sl02 mini, and sl03. added missing light and breeze endpoints
  CONTRIBUTING.md
  app/tests/test_web_app.py
  app/webapp.py
  docs/device_types.md
  docs/endpoints_action.md
  docs/endpoints_state.md
  requirements.txt
  tox.ini
Labels: status: approved, size: l

#755 docs: better dev docs
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  CONTRIBUTING.md
  README.md
  tox.ini
Labels: status: needs review, size: l

#757 ci: fixed ci
  .github/workflows/pages.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/stage.yml
  mkdocs.yml
Labels: status: needs review, size: m

#763 build: bump aioswitcher to 5.0.0
  app/tests/test_web_app.py
  app/webapp.py
  requirements.txt
Labels: status: approved, size: l
